<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">

          <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Presidential Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[0].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[0][i].name %></td>
                                <td><%= result[0][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Vice Presidential Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[1].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[1][i].name %></td>
                                <td><%= result[1][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Gen. Secretary Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[2].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[2][i].name %></td>
                                <td><%= result[2][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Asst. Gen. Secretary Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[3].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[3][i].name %></td>
                                <td><%= result[3][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Tech. Secretary Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[4].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[4][i].name %></td>
                                <td><%= result[4][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Asst. Tech. Secretary Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[5].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[5][i].name %></td>
                                <td><%= result[5][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Fin. Secretary Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[6].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[6][i].name %></td>
                                <td><%= result[6][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Treasurer Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[7].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[7][i].name %></td>
                                <td><%= result[7][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Public Secretary Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[8].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[8][i].name %></td>
                                <td><%= result[8][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Auditor Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[9].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[9][i].name %></td>
                                <td><%= result[9][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Ex-Official I Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[10].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[10][i].name %></td>
                                <td><%= result[10][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Ex-Official II Aspirant</h4>
                        
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Vote Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for (var i = 0; i < result[11].length; /* I save the data in a variable 'quotation', I don't know how you named your variable  */  i++) { %>
                              <tr>
                                <td><%= result[11][i].name %></td>
                                <td><%= result[11][i].vote_count %></td>
                              </tr>
                             <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

            </div>
          </div>

          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 </span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> EmmyVera 09034036212</span>
            </div>
          </footer>
          <!-- partial -->

        <!-- main-panel ends -->

      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="js/chart.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>